body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('1000026617.png');
  background-size: cover;
  background-position: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 200px;
  padding: 10px;
  margin: 0 auto 20px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}

#result {
  margin-top: 20px;
  font-size: 4em;
  font-weight: bold;
  color: #333;
}

#settingsToggle {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#settingsToggle:hover {
  background-color: #0056b3;
}

#settingsTab {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#saveRatio {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}